@charset "UTF-8";
/*-----------Обнуляющие стили--------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #141414;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3 {
  font-weight: inherit;
  font-size: inherit;
}

nav, footer, header {
  display: block;
}

html, body {
  height: 100%;
  font-weight: 400;
  line-height: 150%;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  background-color: #FFF4D6;
  scroll-behavior: smooth;
}

@media (min-width: 2100px) {
  body {
    font-size: 20px;
  }
}
.wrapper {
  min-height: 100%;
  width: 100%;
  padding: 0px 0px;
  margin: 0 auto;
}

.vissualy-hidden {
  display: none;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s;
  min-height: 25px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #DD845A;
  background-color: #DD845A;
  color: #E4E7D4;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #DD845A;
  border-radius: 5px;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #c25a28;
  transition: all 0.3s;
  border-radius: 5px;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  background-color: #E4E7D4;
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.logo {
  margin: 25px 25px 50px 25px;
}

.navigation__burger {
  z-index: 5;
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
  margin: 25px 15px 25px 0;
}
.navigation__burger span {
  top: 50%;
  scale: 1;
}
.navigation__burger span, .navigation__burger::after, .navigation__burger::before {
  left: 0;
  width: 100%;
  height: 10%;
  position: absolute;
  transition: all 0.3s ease 0;
  background-color: #554333;
}
.navigation__burger::before, .navigation__burger::after {
  content: "";
}
.navigation__burger::before {
  top: 0;
}
.navigation__burger::after {
  bottom: 0;
}
.navigation__list--main {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFF4D6;
  color: #000000;
  transition: left 1s ease;
}
.navigation__list > li {
  margin: 0px 0px 30px 0px;
}
.navigation__list > li:last-child {
  margin: 0px 0px 0px 0px;
}
.navigation__list._active {
  left: 0;
}
.navigation__link {
  font-size: 24px;
}
.navigation__link:hover {
  border-bottom: 3px dashed #554333;
}

.section {
  margin: 0 auto;
  padding: 90px 50px 0px 50px;
  width: 100%;
}
.section__title {
  font-size: 2rem;
  padding: 20px;
}
.section__description {
  font-size: 1rem;
  padding: 15px;
}
.section__gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-bottom: 60px;
}
.section__button {
  margin: 0px 40% 0px 40%;
}

.card-container {
  width: 210px;
  height: 380px;
}
.card-container__link {
  cursor: pointer;
}
.card-container__link:hover {
  border: 1px solid #554333;
}

.card {
  display: flex;
  flex-direction: column;
}
.card__carousel {
  padding-bottom: 15px;
}
.card img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__desc {
  letter-spacing: 1.8;
  padding-bottom: 15px;
}
.card__price {
  letter-spacing: 1.8;
  padding-bottom: 15px;
  font-weight: 600;
}

.footer {
  background-color: #E4E7D4;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: auto;
  padding: 35px 10px 20px 10px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer__social {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer__link {
  position: relative;
  width: 80px;
  height: 50px;
  margin: 20px;
}
.footer__link:before {
  content: "";
  position: absolute;
  left: -30px;
  top: 5px;
  padding-right: 5px;
  width: 7px;
  height: 11px;
  border-top: 5px solid #554333;
  border-right: 5px solid #554333;
  transform: rotate(-45deg);
}
.footer__link:after {
  content: "";
  position: absolute;
  left: -30px;
  top: 20px;
  padding-right: 5px;
  width: 7px;
  height: 11px;
  border-top: 5px solid #554333;
  opacity: 0.5;
  border-right: 5px solid #554333;
  transform: rotate(-45deg);
  animation: top 1s ease-in infinite;
}
@keyframes top {
  from {
    top: 20px;
  }
  to {
    top: 5px;
  }
}

.footer-nav__list {
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */