@import "common-style.scss";
@import "style-header.scss";
@import "style-footer.scss";

.card-hidden {
   display: none !important;
}
.card-show {
	display: block !important;
}

.page {
	position: relative;
	margin-top: 150px;
	height: auto;
   margin: 0 auto;
   padding: 0px 40px;
	margin-bottom: 150px;
   
		&__nav {
         margin: 0px 40px;
			position:absolute;
			top: 150px;
			left: 10%;
		}
      &__link {
         width: 100%;
      }
		&__link:hover {
         font-weight: 600;
         color: $color-3;
		}
}
.page-nav {
	&__list {
		display: flex;
		gap: 30px;
		justify-content: center;
		width: 100%;
	}
}
.catalog-nav {
	&__list {
		display: flex;
		gap: 30px;
		justify-content: center;
		width: 100%;
	}
}
.catalog {
   display: flex;
   width: 100%;
   margin: 0 auto;
   padding: 40px 10px 0;
	justify-content: space-between;
}
.content__list {
	width: 1280px;
	min-width:100%;
	margin: 0 auto;
	margin-top: 180px;
	position: relative;
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}