@import "common-style.scss";
@import "style-header.scss";
@import "style-footer.scss";


@keyframes isVisible {
	0% {
	  opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
	  opacity: 1;
	}
	 }

.card-hidden {
   display: none !important;
}
.card-show {
	display: block !important;
}
._container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px 10px;
}
.parallax {
	min-height: 96vh;
	&__body {
		position: fixed;
		width: 100%;
		height: 100%;
		top:23vmin;
		left:0;
	}

	&__container {
		position:absolute;
		z-index: 3;
		padding: 70px;
		top: 10vmin;
		opacity: 0;
  		animation: 2s  isVisible ease-in-out;
		animation-fill-mode: forwards;
	}

	&__label {
		display: flex;
		font-size: 12px;
		letter-spacing: 4px;
		color:$color-5;
		margin: 0px 0px 30px 0px;
		align-items: center;
		text-transform: uppercase;
	}
	&__label::before {
		flex: 0 0 50px;
		content: '';
		margin: 0px 30px 0px 0px;
		height: 1px;
		background-color:$color-5;
	}
	&__title {
		font-size: 32px;
		min-height: 50px;
		line-height: 1.2;
		margin-bottom: 1em;
}
	
	&__button {
		text-align: right;
		position: relative;
	}
	&__button:after {
		content:'\1F813';
		position: absolute;
		top:6px;
		left: -6px;
		color: $color-4;
		font-size: 18px;
	}

	&__img {
		position: absolute;
		width: 120%;
		height: 100%;
		top: -37%;
		left: -10%;
		z-index:1;
	}
	
}
.parallax-img {
	&__item {
		position: absolute;
		width: 100%;
		height: 100%;
		left:0;
	}
	&__frame, &__ocean, &__palm {
		position: absolute;
		width: 100%;
		height:100vh;
		left:0;
	}
	&__frame {
		top: 15%;
		left:-20%;
		z-index: 4;
	}
	&__frame img {
		height: 100%;
		width: 100%;
		object-fit: contain;
	}
	&__ocean {
		top: 15%;
		z-index: 2;
		height: 100vh;
		
	}
	&__ocean img{
		height: 100%;
		width: 100%;
		object-fit: fill;
	}
	&__palm {
		top: 25%;
		left: 25%;
		z-index: 3;
		
	}
	&__palm img {
		height: 100%;
		width: 100%;

		object-fit: contain;
	}
	@media (max-aspect-ratio: 3/2) {
		&__palm {
			background-position: 20% top;
		}
	}
}
.parallax-content {
	background-color: $color-1;
	opacity: 1;
	position: relative;
	z-index:5;
	margin-bottom: 50px;
}


.section {
	margin: 0 auto;
    padding: 50px 50px 50px 50px;
    width: 100%;
    margin-top: 3vmin;
    animation: 2s isVisible ease-in-out;

		&__title {
         font-size: 2rem;
			padding: 20px;
			padding-top:140px;
			
		}
		&__description {
			font-size: 1rem;
			padding: 0 0 20px 20px;
		}

		&__gallery {
			
		}
		&__button {
			margin: 0px 40% 0px 40%;
		}
}
.content__list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 30px;
	row-gap: 0px;
	flex-wrap: wrap;
	margin: 0px auto 20px;
}
.card-container {
	width: 210px;
	height: 330px;

		&__link {
			cursor: pointer;
			padding: 10px;
		}
		&__link:hover {
			box-shadow: 0px 0px 10px $color-2;
			transition: all 0.3s ease-in-out;

		}
}
.card {
	display: flex;
	flex-direction: column;
		&__img {
			width: 190px;
			height: 190px;
		}
		& > img {
			display: block;
			width: 90%;
			height: 90%;
			object-fit: cover;
			padding-bottom: 20px;
			overflow: hidden;
		}

		&__title {
			letter-spacing: 1.8;
			padding: 10px 0;
			max-height: 64px;
			text-overflow:  ellipsis;
			overflow: hidden;
 			white-space: nowrap;
			text-transform: uppercase;
		}

		&__price {
			letter-spacing: 1.8;
			padding-bottom: 10px;
			font-weight: 600;
		}
}


