.footer {
	display: flex;
	flex-direction: column;
	gap: 30px;
	min-height: max-content;
	width: 100%;
	position: relative;
	z-index:5;
	padding: 50px 10px 20px 10px;
	margin-bottom: 50px;
	background-color:$color-8;

	&__row {
		display: flex;
		justify-content: flex-start;
      width:100%;
	}
	&__column {
      width: 33.33%;
   }
   &__column:last-child {
      text-align: end;
   }
   &__column:not(:last-child) {
		padding-right:40px;
	}
	&__nav {
		display: flex;
		flex-direction: column;
		align-items:start;
	}

	&__social {
		display: flex;
		gap: 10px;
		justify-content: center;
	}

	&__legal {
		border-top: 1px solid $color-5;
		padding-top:15px;
		width: 100%;
		font-size: 12px;
		letter-spacing: 0.5;
	}
}

.footer-link:hover {
		font-weight: 600;
	}

.footer-nav {

	&__list {
		font-size: 1rem;
	}
	&__link:hover {
		font-weight: 600;
		border-bottom: 1px dashed $color-2 opacity(0.5);
	}
	
}
.social {
	&__item {
		display: inline-block;
		width: 40px;
		font-size: 32px;
	}

	&__link:hover {
		transform: scale(2);
	}

	&__icon {
	}
}

