@import "common-style.scss";
@import "style-header.scss";
@import "style-footer.scss";

.section {
	margin: 0 auto;
	padding: 20px 50px 50px 50px;
	width: 100%;

		&__title {
         font-size: 2rem;
			padding: 20px;
		}

		&__description {
			font-size: 1rem;
			padding: 0 0 20px 20px;
		}

		&__gallery {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			column-gap: 30px;
			row-gap: 0;
			flex-wrap: wrap;
			margin: 0 auto;
			margin-bottom: 20px;

		}
		&__button {
			margin: 0px 40% 0px 40%;
		}
}

.card-container {
	width: 210px;
	height: 330px;

		&__link {
			cursor: pointer;
			padding: 10px;
		}
		&__link:hover {
			box-shadow: 0px 0px 10px $color-2;
			transition: all 0.3s ease-in-out;

		}
}
.card {
	display: flex;
	flex-direction: column;
		&__img {
			width: 190px;
			height: 190px;
		}
		& > img {
			display: block;
			width: 90%;
			height: 90%;
			object-fit: cover;
			padding-bottom: 20px;
			overflow: hidden;
		}

		&__desc {
			letter-spacing: 1.8;
			padding: 10px 0;
			max-height: 64px;
			text-overflow:  ellipsis;
			overflow: hidden;
 			white-space: nowrap;
			text-transform: uppercase;
		}

		&__price {
			letter-spacing: 1.8;
			padding-bottom: 10px;
			font-weight: 600;
		}
}



/* модальное окно*/
.modal {
	display: none;
	position: absolute; 
	top: 0;
	left: 0;
	right: 0;
	bottom:0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5); 
	z-index: 1050;


	&__close {
		font-size: 32px;
		font-weight: 700;
		line-height: 1;
		color: $color-2;
		text-shadow: 0 1px 0 #fff;
		opacity: 0.5;
		text-decoration: none;
		align-self: flex-end;
	}

	&__close:focus, .close:hover {
		color: $color-5;
		text-decoration: none;
		cursor: pointer;
		opacity: 0.75;
	}

	&__body {
		margin-top: 30px 50px;
		padding: 15px;
		width: 800px;
		height: 600px;
		background-color:$color-4;
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: flex-start;
	}
	&__column {
		align-self:center;
	}
	&__container {
		width: 600px;
		display: flex;
		justify-content: center;
		margin: 0 auto;

	&__carousel {
		padding-bottom: 0;
		position:relative;
		width: 210px;
		height: 200px;

		& > input {
			display: none;
		}
		& .controls {
			left: 150px;
			top: 300px;
			position: absolute;
		}
		& label {
			cursor: pointer;
			display: inline-block;
			height: 8px;
			margin: 0px 2px;
			text-align: center;
			position: relative;
			width: 15px;
			background-color: $color-3;
			z-index: 100;
		}
		& label:hover, 
		#slide1:checked ~ .controls label:nth-of-type(1),
		#slide1_1:checked ~ .controls label:nth-of-type(2),
		#slide2:checked ~ .controls label:nth-of-type(1),
		#slide2_1:checked ~ .controls label:nth-of-type(2)
		#slide3:checked ~ .controls label:nth-of-type(1),
		#slide3_1:checked ~ .controls label:nth-of-type(2),
		#slide4:checked ~ .controls label:nth-of-type(1),
		#slide4_1:checked ~ .controls label:nth-of-type(2),
		#slide5:checked ~ .controls label:nth-of-type(1),
		#slide5_1:checked ~ .controls label:nth-of-type(2),
		#slide6:checked ~ .controls label:nth-of-type(1),
		#slide6_1:checked ~ .controls label:nth-of-type(2)  {
			background-color: $color-2;
			transition: background-color ease-in-out .5s;
		}
		& 
		#slide1:checked ~ .slider > .slide1,
		#slide1_1:checked ~ .slider > .slide1_1,
		#slide2:checked ~ .slider > .slide2,
		#slide2_1:checked ~ .slider > .slide2_1,
		#slide3:checked ~ .slider > .slide3,
		#slide3_1:checked ~  .slider > .slide3_1,
		#slide4:checked ~  .slider > .slide4,
		#slide4_1:checked ~  .slider > .slide4_1,
		#slide5:checked ~  .slider > .slide5,
		#slide5_1:checked ~  .slider > .slide5_1,
		#slide6:checked ~  .slider > .slide6,
		#slide6_1:checked ~  .slider > .slide6_1 {
			opacity: 1;
			z-index: 1;
			transform: scale(1);
		}
		&__slider {
			margin: 0 auto;
			padding: 0;
			box-sizing: border-box;
			height: inherit;
			width: 100%;
			position: relative;
			display: flex;
			align-items:center;
			justify-content: center;
		}
				
		&__slides {
			height: inherit;
			width: inherit;
			position: absolute;
			width: inherit;
			opacity: 0;
			z-index: 0;
			transition: all ease-in-out 0.5s, opacity ease-in-out .5s;
		}
		
	}

	&__img {
			width: 300px;
			height: 300px;
			padding-bottom: 20px;
			overflow: hidden;
		}
		& img {
			display: block;
			width: 300px;
			height: 300px;
			object-fit: cover;
			padding-bottom: 20px;
			overflow: hidden;
		}
		&__desc {
			letter-spacing: 1.8;
			padding: 10px 0;
			height: 40px;
			text-transform: uppercase;
		}

		&__price {
			letter-spacing: 1.8;
			padding-bottom: 10px;
			font-weight: 600;
		}
	}
}

